* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.imageZoom {
  margin-top: 15px;
  display: flex;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: cadetblue;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 15px;
}
.homeBanner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.btnButton {
  position: relative;
}
.btnButton button {
  position: fixed;
  bottom: 15px;
  right: 10px;
  background-color: red;
  color: #fff;
  width: 100px;
  height: 60px;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}
.categoryList {
  position: relative;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  list-style-type: none;
}
.categoryList button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #8b8b8b;
  cursor: pointer;
  border-radius: 5px;
}
.shopppingCartList {
  overflow-y: scroll;
  position: fixed;
  width: 350px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #ccc;
  transform: translateX(350px);
  transition: ease 0.3s all;
}

.showSideBar {
  transform: translateX(0);
}
